@import 'base/normalize';
@import 'base/reset';
@import 'base/global';
@import 'base/mixins';

.timer {
  @include size(100vw, 100vh);
  @include flex(flex, center, center, column);
  margin: 0 auto;

  &__title {
    font-size: 48px;
    text-transform: uppercase;
  }

  &__clock {
    position: relative;
    @include size(300px);
    margin: 20px;
  }
}

.clock {
  &__svg {
    transform: scaleX(-1);
  }

  &__alarm {
    display: none;
  }

  &__circle {
    fill: none;
    stroke: none;
  }

  &__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }

  &__path-remaining {
    color: rgb(65, 184, 131);
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;

    &.green {
      color: rgb(65, 184, 131);
    }
    &.orange {
      color: orange;
    }
    &.red {
      color: red;
    }
  }

  &__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;

    &--timer {
      display: none;
    }
  }

  &__setTime {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    & ::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    & input {
      text-align: center;
    }

    &--hide {
      display: none;
    }
  }

  &__icon {
    grid-column: 1 / 3;
    text-align: center;

    & span {
      cursor: pointer;
      font-size: 48px;
    }
  }
}

.h-refresh {
  cursor: pointer;
  display: block !important;
  font-size: 48px;
}

.h-hide {
  display: none;
}
